<div class="container ">
    <div class="values">
    <div class="d-flex flex-column values1">
        <h1 class="ourValues">our values</h1>
        <p class="valuesP1">we carry out work with flexibility and high effectiveness, provide the best levels of
            quality and safety ,
            and make bold decisions that enhance the interest of our customers and maximize the creative capabilities of
            our employees.</p>
        <p class="valuesP2">we are responsible for adopting the highest standard of
            professional conduct , including honesty and commitment,
            and we always ensure that our actions are consistent with
            our promises to achieve quality and added value in the field
            of logistics services.
        </p>
    </div>

    <div class="values2">
        <div class="Image1">
            <img src="assets/Image 1.svg" alt="Image1">
        </div>
        <div class="Image2">
            <img src="assets/Image 2.svg" alt="Image2">
        </div>
        <div class="Image3">
            <img src="assets/Image 3.svg" alt="Image3">
        </div>
        <div class="Image4">
            <img src="assets/Vector.svg" alt="Image4">
        </div>
    </div>
</div>
</div>