
<div class="container">
<div class="row">
  <div class="col-md-6">
    <h2 style="
    color: #0C3FB4;
    font-weight: 600;
    margin: 20px 0;
    font-size: 24px;
    line-height: 28.8px;
    letter-spacing: 1.4px;
  ">
      WHO ARE WE
    </h2>
    <h2 style="
font-size: 30px;
font-weight: 600;
color: #2B2B2B;
max-width: 76%;
">
      Believing In That The Customer Is The Focus Of Our Attention.
    </h2>
    <p style="
    font-size: 20px;
    font-weight: 400;
    color: #808080;
    max-width: 100%;
    ">we inspire others with our passion and determination , challenge , traditional thinking, and search for creative
      ways to discover opportunities in an effort to reach innovative solutions to fully that satisfy our customers.</p>
      <div>
        <div class="card1 d-flex flex-row">
          <div class="d-flex justify-content-center align-items-center">
            <img src="assets/Vector.png" alt="Vector">
          </div>
          <div class="typography">
             <h2 class="typographyH">Our Solutions</h2>
             <p class="typographyP">provide seamless logistical solutions with global efficiency that achieve sustainable value for our cutomers</p>
          </div>
        </div>
        <div class="card2 d-flex flex-row">
          <div class="d-flex justify-content-center align-items-center">
            <img src="assets/Vector-1.png" alt="Vector 1">
          </div>
          <div class="typography">
             <h2 class="typographyH">Our Strength</h2>
             <p class="typographyP">our experience, our relationship, and our success partners for more than 16 years which meet the needs of the market according to the kingdom’s vision 2030</p>
          </div>
        </div>
      </div>
  </div>

  <div class="d-flex col-md-6 Images">
    <div class="Img">
      <img width="300px" height="600px" src="assets/Rectangle 14.svg" alt="Rectangle 14">
    </div>
    <div class="d-flex flex-column g-0">
      <div class="Img">
        <img width="250px" height="350px" src="assets/Rectangle 15.svg" alt="Rectangle 15">
      </div>
      <div class="Img">
        <img width="250px" height="200px" src="assets/Rectangle 16.svg" alt="Rectangle 16">
      </div>
    </div>
  </div>


</div>
</div>