

<div class="container">
    <h2 style="color:#0B0B0B; font-weight:700; text-align:center; margin-top: 80px;">Official Clients And Partners</h2>
<h2 style="color: #0C3FB4; font-weight:700; text-align:center;margin: 30px 0;">Our Client</h2>
    <div class="row">
        <div class="col-md-2 col-sm-4 col-4 Img" >
            <img width="200" class="img-fluid" src="assets/image 6.png" alt="image 6">
        </div>
        <div class="col-md-2 col-sm-4 col-4 Img">
            <img width="200" class="img-fluid" src="assets/image 7.png" alt="image 7">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/image 8.png" alt="image 8">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/image 9.png" alt="image 9">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/image 11.png" alt="image 11">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/Rectangle 50.png" alt="Rectangle 50">
        </div>
    </div>
    <h2 style="color: #0C3FB4; font-weight:700; text-align:center;margin: 30px 0;">Success Partners</h2>

    <div class="row">
        <div class="col-md-2 col-sm-4 col-4 Img" >
            <img width="200" class="img-fluid" src="assets/Rectangle 51.png" alt="Rectangle 51">
        </div>
        <div class="col-md-2 col-sm-4 col-4 Img">
            <img width="200" class="img-fluid" src="assets/Rectangle 52.png" alt="Rectangle 52">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/image 12.png" alt="image 12">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/Rectangle 53.png" alt="Rectangle 53">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/Rectangle 54.png" alt="Rectangle 54">
        </div>
        <div class="col-md-2 col-sm-4 col-4  Img">
            <img width="200" class="img-fluid" src="assets/Rectangle 55.png" alt="Rectangle 55">
        </div>
    </div>

</div>